<!DOCTYPE html>
<html>
  <head>
    <title>CRM — Услуги</title>
  </head>
  <body>
    <nav>
      <a href="/service/">Услуги</a> |
      <a href="/campaign/">Рекламные кампании</a> |
      <a href="/lead/">Потенциальные клиенты</a>
      <a href="/contract/">Контракты для клиентов</a>
      <a href="/client/">Активные клиенты</a>
      <a href="/statistic/">Получить статистику</a>
      <a>----------------------------------------------</a>
      <a href="/myauth/logout/">Выход</a>

    </nav>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
